<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <display-name>Fabflix</display-name>
  <description>Fabflix</description>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FabflixMainPageServlet</servlet-name>
    <jsp-file>/mainPage.html</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SearchResults</servlet-name>
    <servlet-class>searchResults</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Browse</servlet-name>
    <servlet-class>Browse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoviePage</servlet-name>
    <servlet-class>MoviePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StarPage</servlet-name>
    <servlet-class>StarPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>ShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>like-predicate</servlet-name>
  	<jsp-file>/like-predicate.html</jsp-file>
  </servlet>  
  <servlet>
  	<servlet-name>readme</servlet-name>
  	<jsp-file>/readme.html</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>dash</servlet-name>
  	<jsp-file>/_dashboard.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Dashboard</servlet-name>
  	<servlet-class>Dashboard</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>d</servlet-name>
  	<jsp-file>/dashboard.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>StoredProcedure</servlet-name>
  	<servlet-class>StoredProcedure</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppLogin</servlet-name>
    <servlet-class>AppLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppSearch</servlet-name>
    <servlet-class>AppSearch</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FabflixMainPageServlet</servlet-name>
    <url-pattern>/mainPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchResults</servlet-name>
    <url-pattern>/searchResults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Browse</servlet-name>
    <url-pattern>/Browse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoviePage</servlet-name>
    <url-pattern>/MoviePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StarPage</servlet-name>
    <url-pattern>/StarPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>like-predicate</servlet-name>
  	<url-pattern>/reports/like-predicate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>readme</servlet-name>
  	<url-pattern>/reports/readme</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dash</servlet-name>
  	<url-pattern>/_dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dashboard</servlet-name>
  	<url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>d</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoredProcedure</servlet-name>
  	<url-pattern>/StoredProcedure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppLogin</servlet-name>
    <url-pattern>/AppLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppSearch</servlet-name>
    <url-pattern>/AppSearch</url-pattern>
  </servlet-mapping>
</web-app>